h1 Управление заказом № #{@order.id} от #{@order.created_at.strftime('%F')}

== render "orders/form"

.h3.mt-2 Состав заказа

= render partial: 'order_positions/list', locals: { order: @order }

h3 Добавить услугу

= render partial: 'order_positions/form', locals: { order: @order, order_position: @order_position }

.mt-3 = link_to 'Назад', orders_path
